

<h1>This app gonna be like</h1>
<h1>Uber</h1>
<h1><i>for</i></h1>
<h1>Grocery. Fucking. Coupons.</h1>
  
  </br>
  </br>

<% if user_signed_in? %>
          <h3>Sweet, you are on the early app list. Hang tight!</h3>
     <% else %>
       <p>
         <%= link_to "YOLO", new_user_registration_path, class: "btn btn-success btn-lg" %>
       </p>
  <% end %>   
</br>
<div class="whitebackground">
  </br>
	<h4 class="centertext">The Milk App&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coming Soon</h4>
  </br>	
</div>	

