
   
   <% if user_signed_in? %>
      <h4 class="hilight centertext">Sweet, you are on the early app list. You are so elite. Hang tight!</h4>     
    <% else %>
    <% end %> 
<div class="clouds jumbotron">
	<div class="container">
 
  
  <h1>This app gonna be like</h1>
  <h1>Uber</h1>
  <h1><i>for</i></h1>
  <h1>Grocery. Fucking. Coupons.</h1>
  
  </br>
  </br>

      </br>
      <% if user_signed_in? %>
          <%= link_to "Think you can do better? Make your own damn App Landing Page", new_pin_path, class: "btn btn-primary btn-lg" %>
     <% else %>
       <p>
         <%= link_to "YOLO", new_user_registration_path, class: "btn btn-success btn-lg" %>
       </p>
  <% end %> 
   </br>
   </br>
   </br>
  </div> 
</div>

<div class="testimonial">
	  <h3 class="centertext">Our User Loves Us:</h3>
	  <h4 class="centertext text-muted">"Your app saves me so much money grocery shopping!"</h5>
	  <img class="oag img-circle"></img>
	  <h4 class="centertext text-muted">"You won't let anyone else download it, will you?"
	</br>
</div>
</br>

      <!-- Three columns of text below the carousel -->
      <div class="row centertext blueback cloudtext">
      </br>
      <h3>Here's our Brilliant Business Plan:</h3>
    </br>
      <div class="container">
        <div class="col-lg-4">
          <img class="mountainPlaceholder roundedrec"></img>
          <h2>Step 1</h2>
          <p>That epic pic we found on the internet looks awesome doesn't it? How could our app not be successful? Courtesty of superfamous.com.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="questionPlaceholder roundedrec"></img>
          <h2>????</h2>
          <p>?</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="barsPlaceholder roundedrec"></img>
          <h2>Profit</h2>
          <p>It turns out we can save you boatloads of Zimbabwean dollars at the Grocery Store. Maybe you will spare us a suitcase of your loot? If not, ads. ads. ads.</p>
        </div><!-- /.col-lg-4 -->
      </div>
    </br>
      </div><!-- /.row -->

<div class="blueback">
</br>
</br>
<div img class="iphone"></img>
  <div class="text-box">
    <div class="text"> PUSH FOR  </div>
    <div class="text-2">GROCERY. FUCKING. COUPONS.</div>
  </div>
  </div>
</div>      

<div class="bottomline">
  </br>
	<h4 class="centertext">The Milk App&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coming Soon</h4>
  </br>	
</div>	

